<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 指定字符集 -->
    <meta charset="utf-8">
    <title>账户列表</title>
    <style type="text/css">
        td, th {
            text-align: center;
        }
    </style>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/jquery-2.1.0.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <!--    <script src="./js/vue-2.6.12.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/axios-0.20.0.js"></script>
</head>
<body>
<div class="container" id="app">
    <!--列表-->
    <div class="row">
        <h3 style="text-align: center">账户信息列表</h3>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form action="" method="post">
                <table border="1" class="table table-bordered table-hover">
                    <tr class="success" style="text-align: center">
                        <th>编号</th>
                        <th>姓名</th>
                        <th>余额</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="(account,index) in accounts">
                        <td>{{account.aid}}</td>
                        <td>{{account.name}}</td>
                        <td>{{account.balance}}</td>
                        <td>
                            <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#updateModal"
                               @click="findByAid(account.aid)">修改</a>
                            <a class="btn btn-default btn-sm" href="" @click="deleteByAid(account.aid)">删除</a>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="9" align="center">
                            <a class="btn btn-primary" data-toggle="modal" data-target="#addModal">添加账户</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <!-- 新增 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addModalLabel">新增</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>姓名：</label>
                        <input type="text" class="form-control" name="name" v-model="account.name" placeholder="请输入姓名">
                    </div>
                    <div class="form-group">
                        <label>余额：</label>
                        <input type="text" class="form-control" name="balance" v-model="account.balance"
                               placeholder="请输入余额">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="saveOrUpdate()">新增</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改 -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateModalLabel">修改</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>姓名：</label>
                        <input type="text" class="form-control" name="name" placeholder="请输入姓名" v-model="account.name">
                    </div>
                    <div class="form-group">
                        <label>余额：</label>
                        <input type="text" class="form-control" name="balance" placeholder="请输入余额"
                               v-model="account.balance">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="saveOrUpdate()">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--从后台抓取数据,放入model-->
<script>
    var app = new Vue(
        {
            el: "#app",
            data: {
                accounts: [],
                account: {}
            },
            methods: {
                deleteByAid(aid) {
                    axios.get("/account/deleteByAid?aid=" + aid).then(reps => {
                        if (reps.data == "OK") {
                            this.findAll();
                        }
                    })
                },
                findByAid(aid) {
                    axios.get("/account/findByAid?aid=" + aid).then(reps => {
                        this.account = reps.data;
                    })
                },
                saveOrUpdate() {
                    axios.post("account/saveOrUpdate", this.account).then(reps => {
                        if (reps.data == "OK") {
                            $("#addModal").modal('hide');
                            $("#updateModal").modal('hide');
                            this.findAll();
                            this.account = {};
                        }
                    })
                },
                findAll() {
                    axios.get("/account/findAll").then(reps => {
                        this.accounts = reps.data;
                    })
                },
            },
            watchs: {},
            created() {
                this.findAll();
            }
        }
    )
</script>
</html>
